body, html {
    height: 100%;
    margin: 0;
}

#gjs {
    height: 0px; 
    overflow: hidden;
}

.gjs-block-svg {
    width: 61%;
}
.gjs-pn-options {
	margin-right:30px;
}

.gjs-trt-trait .gjs-label {
  width: 40%;
}

.gjs-trt-trait .gjs-field {
  width: 60%;
}


.gjs-trt-trait .gjs-field-checkbox {
  height: 1.5em;
}

/*components css*/
.bdg-sect{
  padding-top:70px;
  padding-bottom:70px;
}
.quote{
  color:#777;
  font-weight: 300;
  padding: 10px;
  box-shadow: -5px 0 0 0 #ccc;
  font-style: italic;
  margin: 20px 30px;
}
.heading {
  padding: 10px;
}
.paragraph {
  padding: 10px;
}

/*modals css*/
.hidden {
	display: none !important;
}

#mavo-display-container {
	width: 100%;
	display: flex;
}

#mavo-display {
	width:100%;
}

.expr-title {
	font-size: 14;
	color: black;
}

.expr-title:hover {
	background-color: gray;
}

.expr-description {
	color: gray;
	font-size: 10;
}

.expr-title:hover .expr-description{
	color: black;
}

.popover {
	max-width: 80%;
}

.popover-lower {
  margin-top: 40px;
}

.popver-table {
	width:95%;
}

.popver-table td {
	width:25%;
	max-height: 100%;
}

#expr-operators-container {
	height: 250px;
    overflow: auto;
}
#expr-specials-container {
	height: 250px;
    overflow: auto;
}
#expr-functions-container {
	height: 250px;
    overflow: auto;
}
#expr-properties-container {
	height: 250px;
    overflow: auto;
}

#storage-setting {
	margin-top: 25px;
}

#storage-setting-description {
	font-size: small;
}

#storage-setting-detail {
	width: 100%;
}


/*tooltip css*/
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  font-family: Helvetica, sans-serif;
  background: rgba(51, 51, 51, 0.9);
  background: rgba(55, 61, 73, 0.9);
  border-radius: 3px;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 12px;
  left: 50%;
  line-height: normal;
  max-width: 32rem;
  opacity: 0;
  overflow: hidden;
  padding: 0.6rem 1rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: all 0.216s ease;
  z-index: 99;
}

[data-tooltip]:focus::after,
[data-tooltip]:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -0.5rem);
  -ms-transform: translate(-50%, -0.5rem);
  transform: translate(-50%, -0.5rem);
}

[data-tooltip][disabled],
[data-tooltip].disabled {
  pointer-events: auto;
}

[data-tooltip-pos=right]::after {
  bottom: 50%;
  left: 100%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

[data-tooltip-pos=right]:focus::after,
[data-tooltip-pos=right]:hover::after {
  -webkit-transform: translate(0.5rem, 50%);
  -ms-transform: translate(0.5rem, 50%);
  transform: translate(0.5rem, 50%);
}

[data-tooltip-pos=bottom]::after {
  bottom: auto;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

[data-tooltip-pos=bottom]:focus::after,
[data-tooltip-pos=bottom]:hover::after {
  -webkit-transform: translate(-50%, 0.5rem);
  -ms-transform: translate(-50%, 0.5rem);
  transform: translate(-50%, 0.5rem);
}

[data-tooltip-pos=left]::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

[data-tooltip-pos=left]:focus::after,
[data-tooltip-pos=left]:hover::after {
  -webkit-transform: translate(-0.5rem, 50%);
  -ms-transform: translate(-0.5rem, 50%);
  transform: translate(-0.5rem, 50%);
}
