body, html {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
}

.hidden {
	display: none !important;
}

#gjs {
	width: 100%;
}

#mavo-display-container {
	width: 100%;
	display: flex;
}

#mavo-display {
	width:100%;
}

.expr-title {
	font-size: 14;
	color: black;
}

.expr-title:hover {
	background-color: gray;
}

.expr-description {
	color: gray;
	font-size: 10;
}

.expr-title:hover .expr-description{
	color: black;
}

.popover {
	max-width: 80%
}

.popver-table {
	width:95%;
}

.popver-table td {
	width:25%;
	max-height: 100%;
}

#expr-operators-container {
	height: 250px;
    overflow: auto;
}
#expr-specials-container {
	height: 250px;
    overflow: auto;
}
#expr-functions-container {
	height: 250px;
    overflow: auto;
}
#expr-properties-container {
	height: 250px;
    overflow: auto;
}

#storage-setting {
	margin-top: 25px;
}

#storage-setting-description {
	font-size: small;
}

#storage-setting-detail {
	width: 100%;
}

.gjs-pn-commands {
	display:none;
}

.gjs-pn-options {
	margin-right:30px;
}